<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      <p class="u-spacer--tiny">
        <strong>Verkeersteken</strong>
      </p>
    </div>
  </div>
</div>

<div class="modal-dialog__content">
  <div class="bg-gray-300 p-2 text-black">
    <ul class="w-full">
      {{#each unreferencedRoadsigns as |roadsign|}}
        <li class="px-4 py-2 hover:bg-teal-600 hover:text-white w-full text-left rounded">
          <div class="grid">
            <div class="col--8-12">
              {{roadsign.point}} {{if roadsign.isBeginZone "Beginzone" "Eindzone"}}
            </div>
            <div class="col--4-12">
              {{editor-plugins/roadsign-image roadsign=roadsign concepts=info.unreferencedRoadsignConcepts}}
            </div>

            {{#wu-button-group}}
              {{wu-button label="Maak nieuw artikel" onClick=(action "insert" roadsign) class="button--narrow"}}
              {{#if articleNodes.selections.length}}
                {{wu-button label="Voeg toe aan huidig artikel" onClick=(action "addToArticle" roadsign) class="button--narrow button--alt"}}
              {{/if}}
            {{/wu-button-group}}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="modal-dialog__footer"></div>

{{yield}}
