<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      <p class="u-spacer--tiny">
        <strong>Verkeersteken</strong>
      </p>
    </div>
  </div>
</div>

<div class="modal-dialog__content modal-dialog__content--sectioned">
  <ul class="link-list link-list--bordered">
    {{#each unreferencedRoadsigns as |roadsign|}}
      <li class="link-list__item u-padding--round--tiny">
        <div class="grid">
          <div class="col--3-12">
            <div>
              {{editor-plugins/roadsign-image roadsign=roadsign concepts=info.unreferencedRoadsignConcepts}}
            </div>
          </div>
          <div class="col--9-12">
            {{roadsign.address}}
            {{#wu-button-group}}
              {{wu-button label="Maak nieuw artikel" onClick=(action "insert" roadsign roadsign.address) class="button--narrow button--small u-spacer--bottom--tinier"}}
              {{#if articleNodes.selections.length}}
                {{wu-button label="Voeg toe aan huidig artikel" onClick=(action "addToArticle" roadsign roadsign.address) class="button--narrow button--alt button--small u-spacer--bottom--tinier"}}
              {{/if}}
            {{/wu-button-group}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>

</div>

<div class="modal-dialog__footer"></div>

{{yield}}
