<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      <p class="u-spacer--tiny">
        <strong>Verkeersteken</strong>
      </p>
    </div>
  </div>
</div>

<div class="modal-dialog__content">
  <div class="bg-gray-300 p-2 text-black">
    <ul class="w-full">
      {{#each unreferencedRoadsigns as |roadsign|}}
        <li {{action (mut selectedRoadsign) roadsign}} role="button"
          class="px-4 py-2 hover:bg-teal-600 hover:text-white w-full text-left rounded
                 {{if (eq selectedRoadsign roadsign) "text-white bg-teal-600"}}">
          {{roadsign.point}} {{if roadsign.isBeginZone "Beginzone" "Eindzone"}}

          {{editor-plugins/roadsign-image roadsign=roadsign concepts=info.unreferencedRoadsignConcepts}}

          {{#wu-button-group}}
            {{wu-button label="Vervangen"
              onClick=(action "insert" roadsign)}}
          {{/wu-button-group}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="modal-dialog__footer"></div>

{{yield}}
