<div>
  <span class="say-modal-backdrop is-visible" aria-hidden="true"></span>
  <div class="say-modal say-modal--fullscreen is-visible" tabindex="-1" role="document">
    <div class="say-modal__header">
      <div>
        <h1 class="say-modal__title" tabindex="-1">
          Beheer maatregelen
        </h1>
      </div>
      <button type="button" {{on "click" @closeModal}} class="say-modal__close">
        Venster sluiten
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="say-icon say-icon--right say-icon--large">
          <g class="cross">
            <path fill-rule="evenodd" d="M12 13.414l-5.293 5.293-1.414-1.414L10.586 12 5.293 6.707l1.414-1.414L12 10.586l5.293-5.293 1.414 1.414L13.414 12l5.293 5.293-1.414 1.414L12 13.414z" class="Vector" clip-rule="evenodd"/>
          </g>
        </svg>
      </button>
    </div>
    {{#if this.selectedDecision}}

    {{else}}
      <div class="say-modal__body">
        <div class="say-modal__sidebar">
          <h1>Gevonden borden in de bijlage</h1>
          {{#each this.verkeersbordConcepten as | verkeersbordconcept |}}
            <div style="width: 100%; float:left; margin-top: 15px">
              <div style="width:100%; float:left"> <img src="{{verkeersbordconcept.grafischeWeergave}}"/> </div>
               Naam: {{verkeersbordconcept.prefLabel}} <br>
               Definitie: {{verkeersbordconcept.defintion}}<br>
            </div>
          {{/each}}
        </div>
        <div class="say-modal__content">
          {{#if this.search.isRunning}}
            <div class="say-modal__info">
              <p class="say-loader"><span class="say-u-hidden-visually">Aan het laden...</span></p>
            </div>
          {{else}}
            {{#if this.maatregelCombos.length}}
              <table>
                <tr>
                  <th>Maatregelcombinaties</th>
                </tr>
                  {{#each this.maatregelCombos as | combo |}}
                    <tr>
                      <td>
                        <ul class="say-link-list say-link-list--large">
                          {{#each combo.maatregelen as | maatregel |}}
                            <li class="say-link-list__item say-link-list__item--insert">
                              {{maatregel.description}}
                              <img src="{{maatregel.verkeersbord.grafischeWeergave}}" />
                              <WuCheckbox @checked={{maatregel.selected}}/>
                              <AuLabel id="description-checkbox-differentiatie">
                                Selecteer maateregel om in artikel te voegen.
                              </AuLabel>
                            </li>
                          {{/each}}
                        </ul>
                      </td>
                    </tr>
                  {{/each}}
              </table>
            {{else}}
              <div class="say-modal__info">
                <p>Geen maatregelcombinaties gevonden</p>
              </div>
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/if}}
    <div class="say-modal__footer">

      <AuButton
         @disabled={{if this.search.isRunning "true" }}
        {{on "click" (fn this.insert)}}
      >
        Voeg toe aan document.
      </AuButton>

      <AuButton
        @skin={{"secondary"}}
        {{on "click" @closeModal}}>
        Annuleer
      </AuButton>
    </div>
  </div>
</div>
